.main-view {
  display: flex;
  flex-direction: column;

  &__account {
    flex: 1;
    padding: 10px 0;
  }

  &__accounts {
    margin-bottom: 20px;

    &-item {
      &::before {
        display: none;
      }
    }

    &-item + &-item {
      border-top: 2px solid var(--blue);
    }
  }
}
