.solana-account {
  &__container {
    margin-bottom: 30px;
  }

  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__address {
    word-break: break-all;
  }
}
