:root {
  --gray-light: #F5F5F5;
  --gray-dark: #6B7280;
  --white: #FFFFFF;
  --dark: #111827;
  --blue: #2563EB;
  --blue-lighter: #a2bcf4;
  --blue-darken: #194bb8;
  --border-radius: 6px;
  --error-lighten: #fd8787;
  --error-darken: #aa2222;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // safe-area-inset-bottom is important for Safari on iOS.
  // 100vh on iOS is a bit higher due the navigation bar and weird calculation of the height.
  // So, by using this we can expect the height to be really 100vh on in Safari iOS.
  height: calc(100vh - env(safe-area-inset-bottom));
  width: 100vw;
  padding: 15px;
  background-color: var(--gray-light);
  font-size: 14px;
  // Uses the system font family of the OS the website is opened on
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

button {
  // Uses the system font family of the OS the website is opened on
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

img, svg {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  display: flex;
  align-items: center;
  column-gap: 6px;

  &::before {
    content: '';
    min-width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--blue);
  }
}
